.vscode
node_modules
venv/
env/
.env
venv
*.pyc
.DS_Store
build/
node_modules
build/
.bash_logout
.bashrc
.cloud-locale-test.skip
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.gitconfig
.config
.npm
credentials.py
